<div>
<% if @state == true %>
<div class="center">
  <%= image_tag 'tick.png',
    style: 'width: 5rem; height: auto;'
    %>
  <h3>Cadastro Efetuado com Sucesso</h3>
  </div>
<% else %>
  <h1>Algum erro ocorreu</h1>
<% end %>
</div>
