<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-1 ms-xl-4">
          <img class="avatar-large" alt="avatar-large" src="https://www.linkpicture.com/q/2_995.png" />
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), style: "width: 23rem;", data: { turbo: :false }) do |f| %>
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
              <div class="form-outline mb-4">
                <%= f.input :email,
                    required: false,
                    autofocus: true %>
                </div>
                <div class="form-outline mb-4">
                  <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", style: "width: 400px" } %>
                </div>
                <div class="text-center pt-1 mb-5 pb-5">
                  <%= f.button :submit, "Log in", id: "submit", class: "btn btn-info btn-lg btn-block" %>
                  <p class="text-muted" href="#!">Esqueceu sua senha?</p>
                </div>
            <% end %>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://i.ibb.co/Q9w5Bk1/clay-banks-c-Ez-MOp5-Ft-V4-unsplash.png"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
<style>

body {
  height: 100%;
}
.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}
</style>
